[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "==1.8.4"
recommonmark = "==0.5.0"
fuzzywuzzy = "==0.17.0"
python-levenshtein = "==0.12.0"
robotframework = "==3.0.2"
requests = "==2.21.0"
paho-mqtt = "==1.3.1"
protobuf = "==3.5.0.post1"
python-dateutil = "==2.6.1"
xmltodict = "==0.11.0"
termcolor = "==1.1.0"
tabulate = "==0.8.2"
numpy = "==1.16.0"
pandas = "==0.23.4"
httplib2 = "==0.10.3"
texttable = "==1.1.1"
google-api-python-client = "==1.5.3"
oauth2client = "==3.0.0"
pyserial = "==3.0.1"
bokeh = "==0.12.13"
bson = ">=0.5.0"
google-cloud = "==0.34.0"
pika = "==0.11.2"
pymongo = "==3.6.0"
pyrabbit = "==1.1.0"
redis = "==2.10.6"
scapy = "==2.4.2"
selenium = "==3.8.1"
slackclient = "==1.3.0"
terminaltables = "==3.1.0"
serial = "==0.0.37"
pexpect = "==4.3.1"
pyshark = "==0.4.2.2"
kazoo = "==2.6.0"
PyYAML = "==3.12"
PyVirtualDisplay = "==0.2.1"
pytest = "==4.1.1"
matplotlib = "==3.0.2"
allure-pytest = "==2.5.5"
trollius = "==2.2"
mock = "==2.0.0"
responses = "==0.10.5"
pylint = "==2.3.1"
pytest-timeout = "==1.3.3"
psycopg2-binary = "==2.7.7"
yb-cassandra-driver = "==3.13.0.1"
flake8 = "==3.7.7"
flake8-formatter-junit-xml = "==0.0.6"

[requires]
python_version = "3.7"
